.header {
  height: 213px;
  width: 100%;
  position: relative;
}
.info {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  animation: info 0.5s;
}
@keyframes info {
  0% {
    opacity: 0;
    transform: translate(-50%, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 50%);
  }

}
.logo {
  width: 190px;
}
@media (max-width: 940px) {
  .header {
    height: 326px;
  }
  .info {
    top: 65px;
    left: 48%;
  }
}
@media (max-width: 440px) {
  .header {
    height: 186px;
  }
  .logo {
    width: 128px;
  }
}



